<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <div class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>