{% extends "layouts/base.html.twig" %}

{% block content %}
<h1 class="title">About Us</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quia dolorem quae vitae blanditiis, nisi mollitia eligendi nostrum officiis accusantium asperiores facere quibusdam exercitationem, voluptatibus optio sapiente voluptatem. Inventore, distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum culpa tempore eos eius accusamus atque harum totam, odit consequuntur id iure iusto, voluptate optio libero. Eius error nemo odio.
</p>
{% endblock %}