{% extends "layouts/base.html.twig" %}

{% block content %}
<h1 class="title">Home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum similique voluptas quas illo! Veniam enim, nesciunt aspernatur vel, voluptatum, facilis quidem ducimus nostrum in nisi ad! Optio a molestias illo?</p>
{% endblock %}